body{
  background-color: #00B0FF;
  font-family: 'Roboto', sans-serif;
}
#cuerpo{
    width: 1300px ;
   
}
#cabecera{
    width: 1300px;
    text-align: center;
    
}
#contenedor{
  width: 1300px;
}
#texto{
  width: 650px;
  text-align:left; 
}
#entrada{
  width: 650px;
  margin-left:50px;

}
input {
   text-align: right;       
   border-radius: 2px 2px 2px 2px;
   padding: 2px  2px;
   font-size:large;      
 }
#converted  { color: red; font-weight: bold; font-size:large;          }    

h1 {
    font-weight: 18;
    font-family: "Indie Flower", cursive;
    background: #3C5681;
    padding: 5px 15px;
    color: white;
    display:inline-block;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 50px;
}
#conversion{
  width: 1300px;
}
